.landing-page {
    background-color: #1d1c29 !important;
    direction: rtl;
}

.book-img,
.graph-img {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;

    .title {
        color: #FFFFFF !important;
        font-size: 20px !important;
    }

    img {
        width: 80% !important;
        margin: auto !important;
    }
}

.page-title,
.page-sub-title,
.page-content,
label {
    color: #FFFFFF;
}

input,
input:active,
input:focus {
    height: 70px !important;
    width: 100% !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: #a5a3b5 !important;
    border: none !important;
    outline: none !important;
    padding: 0 30px !important;
    margin-bottom: 20px !important;
    background-color: #0a090f !important;
    border-radius: 3px !important;
    box-shadow: none !important;
}

.input-error {
    border: 1px solid #dc3545 !important;
}

button,
.reg-btn {
    background-color: #28ce0a !important;
    height: 70px !important;
    width: 100% !important;
    border: none !important;
    border-radius: 3px !important;
    font-size: 20px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.second {
    background-color: #FFF !important;
    width: 100% !important;
    min-height: 500px !important;
}

.investment-list li {
    font-size: 1.2rem;
    padding: 10px 0;
}

.second-title {
    color: #191825;
}

footer {
    background-color: rgb(10, 9, 15) !important;
    height: 108px;
}

footer p {
    color: rgb(165, 163, 181);
}

footer p a {
    color: rgb(165, 163, 181);
}
